.messenger-bcg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.messenger-container {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.back-button {
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  width: 180px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
}

.property-chat-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 700px;
  border: 1px solid gray;
  border-radius: 5px;
}

.property-chat-info {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.property-chat-info p {
  margin-top: 20px;
}

.property-chat-info span {
  font-weight: bold;
}

.property-chat-container img {
  padding: 15px;
  height: 150px;
  width: 200px;
}

.message-container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-side-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.message-container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-side-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  background-color: #007bff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.message-sender-name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.message-date-left {
  color: gray;
  font-size: 10px;
}

.message-date-right {
  color: #ddd;
  font-size: 10px;
}

.messenger-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.messenger-input {
  padding: 0.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 600px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: #333;
}

.messenger-btn {
  background-color: #007bff;
  width: 100px;
  height: 50px;
  margin-left: 10px;
  margin-top: 20px;
}
