/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  
  /* HomePage Styles */
  .home-page {
    text-align: center;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .logo {
    width: 40px;
  }
  
  .navigation ul {
    list-style: none;
  }
  
  .navigation ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
  }
  
  .hero {
    background-image: url("");
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-title {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }
  
  .hero-message {
    font-size: 20px;
    color: #020202;
  }
  
  .columns {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  
  .column {
    width: 40%;
    padding: 20px;
  }
  
  .column-content {
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    margin-bottom: 0;
    width: 90%;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .icon img {
    width: 50px !important;
    height: 50px !important;
    margin-bottom: 20px;
  }
  
  .column-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .column-description {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007aff;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cta-button:hover {
    background-color: #0051cb;
  }
  
  .footer {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .footer-content ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .footer-content ul li {
    margin-right: 10px;
  }
  
  .footer-content ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
  }
  